backups/
budget.db
test.db
migration_to_sqlite.sql
BudgetApp_V2/.vs/
BudgetApp_V2/BudgetApp_V2/obj/
BudgetApp_V2/BudgetApp_V2/bin/
BudgetApp_V2/obj/
BudgetApp_V2/bin/
BudgetApp_V2/BudgetApp_V2/obj/Release/